<div class="container">
  <div class="row">
    <div class="col-xs-4">
      Project: <%= @board.title %>
    </div>
    <div class="col-xs-8">
      <%= form_for @ticket do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title %>
        <%= f.label :description %>
        <%= f.text_field :description %>
        <%= f.label :status %>
        <%= f.text_field :status %>
        <%= f.submit "Add New Ticket" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 statuses">
      <div class="row">
        Backlogs
      </div>
      <div class="row">
        <ul>
          <% @backlog_tickets.each do |ticket| %>
            <%= render :partial => 'shared/ticket_form', :locals =>  {:board => @board, :ticket => ticket} %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-xs-3 statuses">
      <div class="row">
        Current Sprint
      </div>
      <div class="row">
        <ul>
          <% @current_sprint_tickets.each do |ticket| %>
            <%= render :partial => 'shared/ticket_form', :locals =>  {:board => @board, :ticket => ticket} %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-xs-3 statuses">
      <div class="row">
        In Progress
      </div>
      <div class="row">
        <ul>
          <% @in_progress_tickets.each do |ticket| %>
            <%= render :partial => 'shared/ticket_form', :locals =>  {:board => @board, :ticket => ticket} %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-xs-3 statuses">
      <div class="row">
        Done
      </div>
      <div class="row">
        <ul>
          <% @done_tickets.each do |ticket| %>
            <%= render :partial => 'shared/ticket_form', :locals =>  {:board => @board, :ticket => ticket} %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
